/************************/
/*  Tableau formatting  */
/************************/

/*  Card Header         */
span.MuiCardHeader-title{
    font-size: larger;
}
/*  Card Footer         */
div.extra {
    font-size: small;
    color: gray;
}
div.MuiGrid-item {
    min-width: 26em;;
}

/*  Bold some text from insights  */
span[data-type="entity"] {
    font-weight: 700;
}
span[data-type="value"] {
    font-weight: 700;
}
span[data-type="insight-type-keyword"] {
    font-weight: 700;
}

/*  Color text based on the sentitment */
span[data-sentiment="positive"]{
    color: green;
}
span[data-sentiment="negative"]{
    color: red;
}